
/* 
    Created on : 27 Nov 2019, 7:55:03 PM
    Author     : Sibusiso M
*/



body {
    background-color: black;
}

div#board{
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
background: url("assets/board.jpg") no-repeat;
 
}

div#messageArea{
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(83, 175, 19);
}

table{
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0px;
}

td{
    width: 94px;
    height: 94px;
}

form{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background-color: rgb(83,175,19);
}

.hit{
    background: transparent url("assets/ship.png") no-repeat center center;
}

.miss{
    background: transparent url("assets/miss.png") no-repeat center center;
}

//Style both input element tags

form input{
    background-color: rgb(152,207,113);
    border-color: rgb(83,175,19);
    font-size:1em;
}

body #board #inputForm{
    border: green 5px;
}

body #board #inputForm #guessInput{}

body #board #inputForm #fireButton{}
